.Portifolio{
    color: #2196F3;
    ;
}
.Usi{
    background-color: #2196F3;
    ;
}
.Foot{
    background-color: #2F303A;
    ;
}
.white{
    color: white;
}
.blue{
    color: #00A2E8;
}
.gray{
    color: lightslategray;
}